body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.space {
  padding: 10px;
}

.description-box {
  height: 150px;
  width: 400px;
}

.cover-image {
  /* position: absolute;
  top: 200px;
  left: 0px; */
  width: 700px;
  height: auto;
}
.cover-image-card {
  width: 300px;
  height: 150;
}
.card-size {
  position: relative;
  width: 300px;
  height: auto;
  display: block;
  flex-grow: 1;
  flex: 0 32%;
  padding-bottom: 1%;
  margin-bottom: 2%;
}
.card-main-div {
  position: absolute;
  display: flex;
  top: 180px;
  left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-size:nth-child(3n) {
  width: 100%;
}
.card-size + .card-size {
  margin-left: 2%;
}

.cover-page {
  position: relative;
  text-align: center;
  border: 2px solid black;
  width: 700px;
  height: 1000px;
}

.cover-page-text {
  /* position: absolute;
  top: 5px;
  left: 70px; */
  font-size: 70px;
}

.foreword-page {
  text-align: left;
  border: 2px solid black;
  width: 700px;
  height: 1000px;
}

#pdfV {
  width: 100%;
  height: 500px;
}
.recipe-image {
  width: 500px;
  height: auto;
}
