
<%- include('../partials/header') %>
<section class="section container is-max-desktop">

<h2>Add Recipe</h2>

<form id="new-form" action="/cookbooks/<%= cookbookId %>/recipes" method="POST" autocomplete="off">
  <label>Name:</label>
  <input type="text" name="name"> <br><br>
  <label>Cover Image:</label><br><br>
  <!-- <form id="imgur"> -->
    <input type="file" class="imgur" accept="image/*" data-max-size="5000" /><br><br>
    <div id="ShowImage" width="250" height="auto"></div>
  <!-- </form><br> -->
  <label>Or add Cover Image URL here:</label><br><br>
  <input id="imgURL" type="text" placeholder="https://imgur.com"
  pattern="https://.*" name="imageURL"> <br><br>
  </label><br><br>
  <input type="submit" value="Add Recipe">
</form>
</section>
<%- include('../partials/footer') %>
