<%- include('../partials/header') %>
<section class="section container is-max-desktop">
  <h2 style="font-size: 30px"><strong>Update Foreword Page</strong></h2>
<form id="add-foreword-page" method="POST"
  action="/cookbooks/<%=cookbook._id%>/forewordpage/update" autocomplete="off">
  </label><br><br><br>
  <label>Description: <br><br>
    <textarea name="foreword" class="description-box"></textarea>
  </label><br><br>
  <input type="submit" value="Update Foreword Page in <%=cookbook.title%>">
</form>
</section>
<%- include('../partials/footer') %>